*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body{
  background-image: url("https://loremflickr.com/1600/900/nature,landscape");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caixa-maior{
  background-color: rgba(0,0,0,0.9);
  width: 450px;
  padding: 20px;
  border-radius: 10px;
}

.input-cidade{
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #7c7c7c2b;
  color: #fff;
  width: calc(100% - 100px);
}

.botao{
  padding: 10px;
  border: none;
  background-color: #7c7c7c2b;
  border-radius: 50%;
  margin-left: 8px;
  display: flex;
  float: inline-end;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .4s ease;
}

.botao:hover{
  background-color: #7c7c7c;
  transform: scale(1.1);
}

.escondido{
  display: none;
}

.caixa-media{
  margin-top: 28px;
  color: #fff;
}

.cidade{
  font-size: 28px;
}

.temperatura{
  font-size: 30px;
  font-weight: bold;
}

.umidade{
  font-size: 20px;
}

.roupa{
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  color: #fff;
  background: rgb(14, 121, 254);
  border: none;
  cursor: pointer;
  transition: .5s ease;
}

.roupa:hover{
  opacity: 0.8;
  scale: 1.05;
}

.respostaIa {
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}